<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css"> <!-- Link para o seu arquivo CSS externo -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
  <title>Perfil do Morador</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
      margin: 0;
      padding: 0;
    }

    header {
      background-color: #333;
      color: #fff;
      text-align: center;
      padding: 1rem 0;
    }

    header h1 {
      margin: 0;
    }

    .resident-info-container {
      max-width: 600px;
      margin: 0 auto;
      padding: 2rem;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    h1 {
      font-size: 2rem;
      color: #333;
    }

    p {
      font-size: 1.2rem;
      color: #666;
    }
  </style>
</head>
<body>
  <header>
    <h1>Perfil do Morador</h1>
  </header>
  <div class="resident-info-container">  
    <h1><%= resident.fullName %></h1>
    <p>Apelido: <%= resident.nickname %></p>
    <p>Curso: <%= resident.course %></p>
    <p>Ano: <%= resident.year %></p>
  </div>
</body>
</html>
